@use "../../variables";
@use "../../responsive";

.error-msg {
  color: variables.$rot
}

.max-width-container {
  padding: variables.$padding;
  position: relative;

  .overall-rating-container {
    display: flex;
    gap: variables.$padding;
    align-items: flex-start;

    .mat-mdc-form-field {
      width: 300px;
      max-width: 100%;
    }

    ul {
      margin: 0;
    }
  }

  .ranking-container {
    border: solid 2px variables.$gruen;
    border-radius: var(--mat-expansion-container-shape);
    background-color: variables.$gruen-quarter;
    padding: variables.$padding;
    margin-top: variables.$padding;
  }

  @media screen and (min-width: calc(responsive.$max-width + 300px)) {
    .ranking-container {
      position: fixed;
      top: calc(var(--mat-toolbar-standard-height) + variables.$padding);
      right: variables.$padding;
      margin: 0;
      max-width: 300px;
    }
  }

  .ranking {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: variables.$padding-half;
  }

  .overall-container {
    margin-top: variables.$padding;
  }

  .action-container {
    display: flex;
    justify-content: flex-end;
    gap: variables.$padding;
  }
}
