@use "../../variables";
@import "../../responsive";

.error-msg {
  color: variables.$rot
}

.max-width-container {
  padding: variables.$padding;

  .rating-container {
    display: flex;
    align-items: baseline;
    gap: variables.$padding;
  }

  .overall-rating-container {
    display: flex;
    gap: variables.$padding;
    align-items: start;

    .mat-mdc-form-field {
      width: 300px;
      max-width: 100%;
    }

    ul {
      margin: 0;
    }
  }

  .action-container {
    display: flex;
    justify-content: end;
    gap: variables.$padding;
  }
}
