@use "../../variables";
@import "../../responsive";

.error-msg {
  color: variables.$rot
}

h4 {
  color: variables.$gruen;
}

.suggested {
  background-color: variables.$gruen-half;
}

.max-width-container {
  padding: variables.$padding;
  position: relative;

  .overall-rating-container {
    display: flex;
    gap: variables.$padding;
    align-items: flex-start;

    .mat-mdc-form-field {
      width: 300px;
      max-width: 100%;
    }

    ul {
      margin: 0;
    }
  }

  @include responsive('lt-md') {
    .overall-rating-container {
      flex-direction: column;
      gap: 0;
    }

    ul {
      padding-bottom: variables.$padding;
    }
  }

  .overall-container {
    margin-top: variables.$padding;
  }

  .action-container {
    display: flex;
    justify-content: flex-end;
    gap: variables.$padding;
  }

  .disclaimer {
    font-size: 12px;
    border: 1px solid variables.$blau;
    padding: variables.$padding-half;
    background-color: variables.$blau-quarter;
  }

  .programm-info {
    white-space: pre-line;
  }
}
