<mat-toolbar color="primary">
  <img src="/assets/logo.png" class="header-logo" alt="ZKMF2024 Logo"/>
  <span class="header-title">{{ header }}</span>
  <span class="header-spacer"></span>
  @if (loggedIn) {
    <div class="username">
      <div>{{ username }}</div>
      <mat-icon>person</mat-icon>
    </div>
    @if (judge) {
      <button mat-icon-button
              (click)="home()"
              matTooltip="Home">
        <mat-icon>home</mat-icon>
      </button>
    }
    @if (!judgeHelper) {
      <button mat-icon-button
              (click)="summaries()"
              matTooltip="Übersicht">
        <mat-icon>fact_check</mat-icon>
      </button>
    }
    @if (admin) {
      <button mat-icon-button
              (click)="rankingLists()"
              matTooltip="Ranglisten">
        <mat-icon>military_tech</mat-icon>
      </button>
    }
    <button mat-icon-button
            (click)="logout()"
            matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  }
</mat-toolbar>
