<mat-card>
  <mat-card-header>
    <mat-card-subtitle>{{ report.start | date: 'dd.MM.yyyy, HH:mm' }}-{{ report.end | date:'HH:mm' }}
      | {{ report.roleDescription }}
    </mat-card-subtitle>
    <mat-card-title>
      @if (isFinished()) {
        <span><mat-icon color="primary">check_small</mat-icon></span>
      }
      {{ report.verein }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <span>{{ report.modulDescription }}</span>
      @if (report.klasse) {
        <span>, {{ report.klasse }}</span>
      }
      @if (report.besetzung) {
        <span>, {{ report.besetzung }}</span>
      }
      @if (report.categoryDescription) {
        <span> ({{ report.categoryDescription }})</span>
      }
    </p>
    <p>
      <a [href]="report.locationUrl" target="_blank">{{ report.location }}</a>
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-flat-button color="primary" (click)="openReport()">
      {{ isFinished() ? 'Ansehen' : 'Bearbeiten' }}
    </button>
    @if (isModulD()) {
      <button mat-stroked-button color="primary" (click)="openModulDSelection()">Komposition auswählen</button>
    }
  </mat-card-actions>
</mat-card>
