<div>
  <app-header header="ZKMF2024 - Feedback"></app-header>
  <div class="loading-indicator">
    @if (loading()) {
      <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    }
  </div>
  @if (feedback) {
    <div class="max-width-container">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ feedback.verein }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <span><b>{{ feedback.modulDescription }}</b></span>
          </p>
          <p>
            Prädikat: {{ feedback.scoreRange }}
          </p>
        </mat-card-content>
      </mat-card>

      @for (title of judge1.titles; track title) {
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>
              {{ title.titel.titelName }}
              @if (title.titel.pflichtStueck) {
                <span>*</span>
              }
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="judges-grid">
              <div></div>
              <div><b>{{ judge1.judge }}</b></div>
              <div><b>{{ judge2.judge }}</b></div>
              <div><b>{{ judge3.judge }}</b></div>

              <div><b>Kurzbericht</b></div>
              <div class="comment">{{ title.comment ?? '/' }}</div>
              <div class="comment">{{ getJudge2Titel(title.titel.id!).comment ?? '/' }}</div>
              <div class="comment">{{ getJudge3Titel(title.titel.id!).comment ?? '/' }}</div>

              @for (group of getGroups(title); track group) {
                @if (group.length > 0) {
                  <div>{{ group }}</div>
                  <div></div>
                  <div></div>
                  <div></div>
                }
                @for (rating of getRatings(title, group); track rating; let index = $index) {
                  <div [ngClass]="{'odd' : index % 2 === 1}">{{ rating.categoryDescription }}</div>
                  <div [ngClass]="{'odd' : index % 2 === 1}">
                    <span [ngClass]="getRatingClass(rating.rating)">{{ getRatingDescription(rating.rating) }}</span>
                    @if (rating.comment) {
                      <span> ({{ rating.comment }})</span>
                    }
                  </div>
                  <div *ngIf="getJudgeRating(getJudge2Titel(title.titel.id!), rating.category) as judge2Rating" [ngClass]="{'odd' : index % 2 === 1}">
                    <span [ngClass]="getRatingClass(judge2Rating.rating)">{{ getRatingDescription(judge2Rating.rating) }}</span>
                    @if (judge2Rating.comment) {
                      <span> ({{ judge2Rating.comment }})</span>
                    }
                  </div>

                  <div *ngIf="getJudgeRating(getJudge3Titel(title.titel.id!), rating.category) as judge3Rating" [ngClass]="{'odd' : index % 2 === 1}">
                    <span [ngClass]="getRatingClass(judge3Rating.rating)">{{ getRatingDescription(judge3Rating.rating) }}</span>
                    @if (judge3Rating.comment) {
                      <span> ({{ judge3Rating.comment }})</span>
                    }
                  </div>
                }
              }
            </div>
          </mat-card-content>
        </mat-card>
      }

      @if (judge1.overallRatings.length > 0) {
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>Gesamteindruck</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="judges-grid">
              <div></div>
              <div><b>{{ judge1.judge }}</b></div>
              <div><b>{{ judge2.judge }}</b></div>
              <div><b>{{ judge3.judge }}</b></div>

              @for (rating of judge1.overallRatings; track rating; let index = $index) {
                <div [ngClass]="{'odd' : index % 2 === 1}">{{ rating.categoryDescription }}</div>
                <div [ngClass]="{'odd' : index % 2 === 1}">
                  <span [ngClass]="getRatingClass(rating.rating)">{{ getRatingDescription(rating.rating) }}</span>
                  @if (rating.comment) {
                    <span> ({{ rating.comment }})</span>
                  }
                </div>

                <div *ngIf="getJudge2OverallRating(rating.category) as judge2OverallRating" [ngClass]="{'odd' : index % 2 === 1}">
                  <span [ngClass]="getRatingClass(judge2OverallRating.rating)">{{ getRatingDescription(judge2OverallRating.rating) }}</span>
                  @if (judge2OverallRating.comment) {
                    <span> ({{ judge2OverallRating.comment }})</span>
                  }
                </div>

                <div *ngIf="getJudge3OverallRating(rating.category) as judge3OverallRating" [ngClass]="{'odd' : index % 2 === 1}">
                  <span [ngClass]="getRatingClass(judge3OverallRating.rating)">{{ getRatingDescription(judge3OverallRating.rating) }}</span>
                  @if (judge3OverallRating.comment) {
                    <span> ({{ judge3OverallRating.comment }})</span>
                  }
                </div>
              }
            </div>
          </mat-card-content>
        </mat-card>
      }
    </div>
  }
</div>
