@use "../../variables";

.rating-container {
  display: flex;
  align-items: baseline;
  gap: variables.$padding;

  .invalid {
    border: solid variables.$rot 1px;
  }

  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    background-color: variables.$gruen-half;
  }
}

.rating-description-item-0 {
  background-color: rgba(146, 208, 80, 0.66);
}

.rating-description-item-1 {
  background-color: rgba(255, 255, 0, 0.66);
}


.rating-description-item-2 {
  background-color: rgba(255, 192, 0, 0.66);
}


.rating-description-item-3 {
  background-color: rgba(255, 0, 0, 0.66);
}

