<div><b>{{ rating.categoryDescription }}</b></div>
<div class="rating-container">
  <div>
    <mat-button-toggle-group [(ngModel)]="rating.rating"
                             (ngModelChange)="onChange()"
                             [disabled]="readOnly">
      <mat-button-toggle [value]="veryPositive">++</mat-button-toggle>
      <mat-button-toggle [value]="positive">+</mat-button-toggle>
      <mat-button-toggle [value]="neutral">0</mat-button-toggle>
      <mat-button-toggle [value]="negative">-</mat-button-toggle>
      <mat-button-toggle [value]="veryNegative">--</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input type="text"
           autocomplete="off"
           matInput
           [required]="required"
           [disabled]="readOnly"
           [(ngModel)]="rating.comment"
           (ngModelChange)="onChange()"/>
  </mat-form-field>
  @if (rating.ratingDescriptions.length > 0) {
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>quickreply</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="rating-description-menu">
      @for (description of rating.ratingDescriptions; track description) {
        <button mat-menu-item [class]="'rating-description-item-' + $index"
                (click)="apply(description)">{{ description }}
        </button>
      }
    </mat-menu>
  }
</div>
