@use "../../variables";
@import "../../responsive";

.summary-container {
  max-width: 100%;

  display: flex;
  gap: variables.$padding;
  align-items: center;

  .verein-container {
    width: 250px;
  }

  .score-container {
    width: 40px;
    height: 40px;
    border: 2px solid variables.$gruen;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    &.overall {
      border: 2px solid variables.$blau;
      cursor: auto;

      &.clickable {
        cursor: pointer;
      }

      &.done {
        background-color: variables.$blau-half;
      }
    }

    &.done {
      background-color: variables.$gruen-half;
    }

    &.my-report {
      border: 2px dotted variables.$gruen;
    }

    &.penalty {
      border: 2px solid variables.$rot;
      background-color: variables.$rot-half;
      cursor: auto;
    }

    &.bonus {
      border: 2px solid variables.$gelb;
      background-color: variables.$gelb-half;
      cursor: auto;
    }

    mat-icon {
      position: absolute;
      scale: 0.7;
      right: -4px;
      bottom: -4px;
    }
  }
}
