<div>
  <app-header header="ZKMF2024 - Jury"></app-header>
  <div class="loading-indicator">
    @if (showProgressBar()) {
      <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    }
  </div>

  <div class="max-width-container">
    @for (report of openReports; track report.id) {
      <app-report-card [report]="report"></app-report-card>
    }

    @if (doneReports.length > 0) {
      <p>&nbsp;</p>
      <h2>Abgeschlossen</h2>
    }

    @for (report of doneReports; track report.id) {
      <app-report-card [report]="report"></app-report-card>
    }
  </div>

  @if (notFound()) {
    <mat-card appearance="outlined">
      <mat-card-content>
        <p>Es wurde kein Jury-Mitglied für diesen Login gefunden.</p>
      </mat-card-content>
    </mat-card>
  }

  @if (error()) {
    <mat-card appearance="outlined">
      <mat-card-content>
        <p>Ein Fehler ist aufgetreten.</p>
      </mat-card-content>
    </mat-card>
  }
</div>
