@use "../../variables";
@use "../../responsive";

.duration-container {
  width: 240px;
  display: flex;
  gap: variables.$padding;
}

.disclaimer {
  font-size: 12px;
  border: 1px solid variables.$blau;
  padding: variables.$padding-half;
  background-color: variables.$blau-quarter;
}

.duration-control-container {
  display: flex;
  gap: variables.$padding;
  align-items: baseline;

  .penalty {
    color: variables.$rot;
    font-weight: bold;
  }
}

.bonus-container {
  margin-bottom: 48px;
}
