@use "@angular/material" as mat;
@use "variables";
@use "@angular/cdk/overlay-prebuilt.css";
@use "src/zkmf2024-theme";
@use "responsive";

@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

@include mat.all-component-themes(zkmf2024-theme.$zkmf2024-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: variables.$gruen;
}

.mat-mdc-snack-bar-container {
  &.success {
    color: variables.$papier;
    --mdc-snackbar-container-color: #{variables.$gruen};
  }

  &.info {
    color: variables.$papier;
    --mdc-snackbar-container-color: #{variables.$hellblau};
  }

  &.error {
    color: variables.$papier;
    --mdc-snackbar-container-color: #{variables.$rot};
  }
}

.mat-grid-tile-content {
  align-items: flex-start !important;
  justify-content: left !important;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-card {
  margin: 1em;
}

.form-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: variables.$padding;

  > * {
    flex: 1;
  }
}

@include responsive.responsive('lt-sm') {
  .form-layout {
    flex-direction: column;
    gap: 0;
  }
}

.success {
  color: variables.$papier;
  background-color: variables.$gruen;
}

.info {
  color: variables.$papier;
  background-color: variables.$violett;
}

.error {
  color: variables.$papier;
  background-color: variables.$rot;
}

.show-gt-sm {
  display: none;

  @include responsive.responsive('gt-sm') {
    display: inherit;
  }
}

.hide-gt-sm {
  @include responsive.responsive('gt-sm') {
    display: none;
  }
}

.max-width-container {
  max-width: responsive.$max-width;
}
