@use "@angular/material" as mat;
@use "variables";

$zkmf2024-palette: (
  50: #E2F8F1,
  100: #B6EDDD,
  200: #86E1C6,
  300: #55D5AF,
  400: #30CC9E,
  500: variables.$gruen,
  600: #0ABD85,
  700: #08B57A,
  800: #06AE70,
  900: #03A15D,
  contrast: (
    50: variables.$black,
    100: variables.$black,
    200: variables.$papier,
    300: variables.$papier,
    400: variables.$papier,
    500: variables.$papier,
    600: variables.$papier,
    700: variables.$papier,
    800: variables.$papier,
    900: variables.$papier,
  )
);

$zkmf2024-palette-accent: (
  50: #FFEDE4,
  100: #FED1BB,
  200: #FEB38E,
  300: #FD9460,
  400: #FC7D3E,
  500: variables.$rot,
  600: #FC5E19,
  700: #FB5314,
  800: #FB4911,
  900: #FA3809,
  contrast: (
    50: variables.$black,
    100: variables.$black,
    200: variables.$papier,
    300: variables.$papier,
    400: variables.$papier,
    500: variables.$papier,
    600: variables.$papier,
    700: variables.$papier,
    800: variables.$papier,
    900: variables.$papier,
  )
);

$zkmf2024-primary: mat.m2-define-palette($zkmf2024-palette, 500);
$zkmf2024-accent: mat.m2-define-palette($zkmf2024-palette-accent, 500);
$zkmf2024-typography: mat.m2-define-typography-config(
  $font-family: 'Poppins',
);

$zkmf2024-theme: mat.m2-define-light-theme((
  color: (
    primary: $zkmf2024-primary,
    accent: $zkmf2024-accent,
  ),
  typography: $zkmf2024-typography,
  density: 0,
));
