@use "../../variables";
@use "../../responsive";


.ranking-container {
  border: solid 2px variables.$gruen;
  border-radius: var(--mat-expansion-container-shape);
  background-color: variables.$gruen-quarter;
  padding: variables.$padding;
  margin-top: variables.$padding;
  font-size: 11px;

  .ranking-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.ranking {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: variables.$padding-half;
}

@media screen and (min-width: 600px) and (max-width: calc(responsive.$max-width + (2 * variables.$padding) + 300px)) {
  .ranking {
    grid-template-columns: repeat(8, max-content);
  }
}

@media screen and (min-width: calc(responsive.$max-width + (2 * variables.$padding) + 300px)) {
  .ranking-container {
    position: fixed;
    top: calc(var(--mat-toolbar-standard-height) + variables.$padding);
    right: variables.$padding;
    margin: 0;
    max-width: 300px;
  }

  .ranking {
    grid-template-columns: repeat(4, max-content);
  }
}
